<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>	<!-- 配置VO类的别名操作，以简化映射文件的类型编写 -->
		<!-- <typeAlias type="cn.mldn.vo.News" alias="News"/> -->
		<package name="cn.mldn.vo"/>
	</typeAliases>
	<mappers>	<!-- 定义所有的映射文件路径 -->
		<mapper resource="cn/mldn/mapping/News.xml"/>
	</mappers>
</configuration>